<div class="mdl-grid" ng-controller="editInviteController as editInviteVm">
	<div class="mdl-cell mdl-cell--5-col">
		<h4>Update Invite</h4>
		<form ng-submit="editInviteVm.editInvite()">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{'is-dirty': editInviteVm.candidate.name}">
		    <input class="mdl-textfield__input" type="text" id="name" ng-model="editInviteVm.candidate.name">
		    <label class="mdl-textfield__label" for="name">Enter Name</label>
		  </div>

		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mt-20" ng-class="{'is-dirty': editInviteVm.candidate.email}">
		    <input class="mdl-textfield__input" type="email" id="email" ng-model="editInviteVm.candidate.email">
		    <label class="mdl-textfield__label" for="email">Enter Email</label>
		    <span class="mdl-textfield__error">Should be valid email</span>
		  </div>

		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mt-20" ng-class="{'is-dirty': editInviteVm.candidate.dates}">
		    <input class="mdl-textfield__input" type="date" id="datePicker" ng-model="editInviteVm.candidate.dates">
		    <label class="mdl-textfield__label" for="datePicker">Enter validity</label>
		    <span class="mdl-textfield__error">Should be valid date</span>
		  </div>
				
			<div class="mt-20" ng-if="editInviteVm.candidate.quiz">
				<label class="bold">Selected Quiz</label>
				<div class="mt-5">
					<span class="mdl-chip mdl-chip--deletable">
				    <span class="mdl-chip__text">{{editInviteVm.candidate.quiz.name}}</span>
				    <button type="button" class="mdl-chip__action" ng-click="editInviteVm.removeSelectedQuiz()">
				    	<i class="material-icons">cancel</i>
				    </button>
					</span>
				</div>
			</div>

			<div class="mt-20">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mt-20 action-btn" ng-disabled="!editInviteVm.candidate.quiz">
				  Update Invite
				</button>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mt-20 ml-20" type="reset" ng-click="editInviteVm.goToDashboard()">
				  Cancel
				</button>
			</div>
		</form>
	</div>

	<div class="mdl-cell mdl-cell--6-col  mdl-cell--1-offset">
		<h4>List of Quizes</h4>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		  <input class="mdl-textfield__input" type="text" id="search_quiz" ng-model="searchQ">
		  <label class="mdl-textfield__label" for="search_quiz">Search Quiz name</label>
		</div>
		<div class="quiz mt-20" ng-repeat="quiz in editInviteVm.allQuizes | filter:searchQ">
			<div class="mdl-grid no-pad">
				<div class="mdl-cell mdl-cell--12-col">
					<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="quiz-{{$index}}" ng-class="{'is-checked': editInviteVm.selectedQuiz(quiz)}">
					  <input type="checkbox" id="quiz-{{$index}}" class="mdl-checkbox__input" ng-model="editInviteVm.candidate.quiz" ng-true-value="{{quiz}}" ng-false-value="false" ng-change="editInviteVm.onQuizSelect(quiz)">
					  <span class="mdl-checkbox__label">{{quiz.name}}</span>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>