<h4>List of Quizes</h4>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" id="search_quiz" ng-model="searchQ">
  <label class="mdl-textfield__label" for="search_quiz">Search Quiz name</label>
</div>
<div class="quiz mt-20" ng-repeat="quiz in inviteVm.allQuizes | filter:searchQ">
  <div class="mdl-grid no-pad">
    <div class="mdl-cell mdl-cell--12-col">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="quiz-{{$index}}" ng-class="{'is-checked': inviteVm.newInvite.quiz.name == quiz.name}">
        <input type="checkbox" id="quiz-{{$index}}" class="mdl-checkbox__input" ng-model="inviteVm.newInvite.quiz" ng-true-value="{{quiz}}">
        <span class="mdl-checkbox__label">{{quiz.name}}</span>
      </label>
    </div>
  </div>
</div>
