<h4 class="text-center text-red">INSTRUCTIONS</h4>
<div class="mdl-grid landing-grid">
  <!-- General Instructions -->
  <div class="mdl-cell mdl-cell--2-col mdl-cell--middle">
    <h4>General</h4>
  </div>
  <div class="mdl-cell mdl-cell--10-col pl-20 lc-border">
    <div class="info-section">
      <div class="pv-5"><i class="material-icons">info_outline</i> By taking this quiz, you agree not to discuss/post the questions shown here.</div>
      <div class="pv-5"><i class="material-icons">info_outline</i> The duration of the quiz is 60 mins. Timing would be clearly shown.</div>
      <div class="pv-5"><i class="material-icons">info_outline</i> Once you start the quiz, the timer would not stop, irrespective of any client side issues.</div>
      <div class="pv-5"><i class="material-icons">info_outline</i> Questions can have single or multiple correct answers. They will be shown accordingly.</div>
      <div class="pv-5"><i class="material-icons">info_outline</i> Your total score and the time left at any point in the quiz would be displayed on the top.</div>
      <div class="pv-5"><i class="material-icons">info_outline</i> The scoring for each attempt of a question,would be visible to you in a separate section.</div>
    </div>
  </div>
</div>
<div class="mdl-grid landing-grid">
  <!-- General Instructions -->
  <div class="mdl-cell mdl-cell--2-col mdl-cell--middle">
    <h4>Scoring</h4>
  </div>
  <div class="mdl-cell mdl-cell--10-col pl-20 lc-border">
    <div class="info-section">
      <div class="pv-5"><i class="material-icons">info_outline</i> There is NEGATIVE scoring for wrong answers. So, please DO NOT GUESS.</div>
      <div class="pv-5"><i class="material-icons">info_outline</i> If you skip a question, the score awarded is always ZERO.</div>
      <div class="pv-5"><i class="material-icons">info_outline</i> Scoring would be clearly marked in the question on the right hand side box.</div>
    </div>
  </div>
</div>
<div class="mdl-grid landing-grid">
  <!-- General Instructions -->
  <div class="mdl-cell mdl-cell--2-col mdl-cell--middle">
    <h4>Contact</h4>
  </div>
  <div class="mdl-cell mdl-cell--10-col pl-20 lc-border">
    <div class="info-section">
      <div class="pv-5"><i class="material-icons">info_outline</i> If there are any problems with the setup, or something is unclear, please DO NOT start the quiz.</div>
      <div class="pv-5"><i class="material-icons">info_outline</i> Send email to contact@dgraph.io and tell us the problem. So we can solve it before you take the quiz.</div>
    </div>
  </div>
</div>
<div class="text-center mt-30">
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect btn-lg" ng-click="mainVm.goTo('candidate.quiz')">
    START QUIZ
  </button>
  <div>
    <small class="help-block">Read the instructions carefully before starting the test.</small>
  </div>
</div>
