<div class="mdl-grid" ng-controller="addQuizController as ctrl">
  <div class="mdl-cell mdl-cell--5-col">
    <div class="scroll-fix mdl-shadow--2dp">
      <h4>Add quiz details</h4>
      <form ng-submit="quizVm.submitQuiz()">
        <div class="mdl-grid no-pad no-margin-lr">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{'is-dirty': ctrl.quiz.name}">
              <input class="mdl-textfield__input" type="text" name="text" id="quiz-name" ng-model="ctrl.quiz.name">
              <label class="mdl-textfield__label" for="quiz-name">Quiz name</label>
            </div>
          </div>
        </div>
        <div class="mdl-grid no-pad no-margin-lr">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="duration-inputs">
              <div class="mdl-textfield mdl-js-textfield" ng-class="{'is-dirty': ctrl.quiz.minutes}">
                <input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="ctrl.quiz.duration" id="minutes" min="1" max="120">
                <label class="mdl-textfield__label" for="minutes">Duration in minutes</label>
                <span class="mdl-textfield__error">Not Valid</span>
              </div>
            </div>
          </div>
        </div>
        <div class="mdl-grid no-pad no-margin-lr">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{'is-dirty': ctrl.quiz.cut_off}">
              <input class="mdl-textfield__input" type="number" name="text" id="cut_off" ng-model="ctrl.quiz.cut_off" step="0.01">
              <label class="mdl-textfield__label" for="cut_off">Cut off</label>
            </div>
          </div>
        </div>
        <div class="mdl-grid no-pad no-margin-lr">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{'is-dirty': ctrl.quiz.threshold}">
              <input class="mdl-textfield__input" type="number" name="text" id="threshold" ng-model="ctrl.quiz.threshold" step="0.01">
              <label class="mdl-textfield__label" for="threshold">Threshold</label>
            </div>
          </div>
        </div>
        <p>
          <strong>
            {{mainVm.objLen(ctrl.quiz.questions)}}
            {{mainVm.objLen(ctrl.quiz.questions) != 1 ? "Questions" : "Question"}},
            Total Score: {{quizVm.getTotalScore(ctrl.quiz.questions) | number: 2}}
          </strong>
        </p>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mt-20 mt-20">
          Save Quiz
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mt-20 ml-20" type="reset" ng-click="quizVm.resetForm()">
          Reset
        </button>
      </form>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--1-offset-desktop">
    <div ng-include="'app/components/quiz/question-selection.html'"></div>
  </div>
</div>
