<div class="mdl-grid" ng-controller="editQuizController as editQuizVm">
  <div class="mdl-cell mdl-cell--5-col">
    <div class="scroll-fix mdl-shadow--2dp">
      <h5 class="mt-0">Update Quiz</h5>
      <form ng-submit="quizVm.submitQuiz()">
        <div class="mdl-grid no-pad no-margin-lr">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{'is-dirty': quizVm.quiz.name}">
              <input class="mdl-textfield__input" type="text" name="text" id="quiz-name" ng-model="quizVm.quiz.name">
              <label class="mdl-textfield__label" for="quiz-name">Quiz name</label>
            </div>
          </div>
        </div>
        <div class="mdl-grid no-pad no-margin-lr">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="duration-inputs">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{'is-dirty': quizVm.quiz.duration >= 0}">
                <input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="quizVm.quiz.duration" id="minutes" min="0" max="120">
                <label class="mdl-textfield__label" for="minutes">Duration (minutes)</label>
                <span class="mdl-textfield__error">Not Valid</span>
              </div>
            </div>
          </div>
        </div>
        <div class="mdl-grid no-pad no-margin-lr">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{'is-dirty': quizVm.quiz.cut_off != undefined}">
              <input class="mdl-textfield__input" type="number" name="text" id="cut_off" ng-model="quizVm.quiz.cut_off">
              <label class="mdl-textfield__label" for="cut_off">Cut off</label>
            </div>
          </div>
        </div>
        <div class="mdl-grid no-pad no-margin-lr">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{'is-dirty': quizVm.quiz.threshold != undefined}">
              <input class="mdl-textfield__input" type="number" name="text" id="threshold" ng-model="quizVm.quiz.threshold" step="0.01">
              <label class="mdl-textfield__label" for="threshold">Threshold</label>
            </div>
          </div>
        </div>
        <div class="bold pb-10">
          {{ quizVm.quizQuestions().length }}
          Question{{quizVm.quizQuestions().length != 1 ? "s" : ""}},
          Max Score: {{quizVm.getTotalScore(quizVm.quizQuestions()) | number: 2}}
        </div>
        <div class="mt-20">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect action-btn" type="submit">
            Update Quiz
          </button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect ml-20" type="reset" ng-click="mainVm.goTo('quiz.all')">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--1-offset-desktop">
    <div ng-include="'app/components/quiz/question-selection.html'"></div>
    <h5>Questions in this quiz</h5>
    <div>
      <div
          ng-repeat="tag in quizVm.allQuestionTags()"
          ng-click="quizVm.selectedTagUid = quizVm.selectedTagUid==tag.uid ? null : tag.uid"
          class="tag-filter capitalize inline-block position-relative"
          style="overflow:hidden; padding-right:32px"
          ng-style="{'box-shadow': tag.uid!=quizVm.selectedTagUid?'': 'inset 0 0 2px 2px rgba(0,0,0,0.7)'}"
      >
        {{tag.name}}
        <span style="opacity:0.7">({{quizVm.getTagStats(tag).count}})</span>
        <div class="position-absolute" style="right:0; top:0; bottom: 0; right:0; width:30px; background-color:rgb(200,200,200,0.5)">
          <div
              style="position:absolute; bottom:0; left:0; right:0; background:linear-gradient(rgba(50, 200, 100, 0.3), rgba(50, 200, 100, 0.5) 100%)"
              ng-style="{height: quizVm.getTagStats(tag).share*100+'%' }"
          ></div>
          <div class="mt-5" style="font-weight: bold">{{quizVm.getTagStats(tag).score}}</div>
        </div>
      </div>
      <div
          class="tag-filter inline-block text-red position-relative"
          style="border-color: transparent; overflow:hidden"
          ng-if="quizVm.selectedTagUid"
          ng-click="quizVm.selectedTagUid = null">
        Show All
      </div>
    </div>

    <div
        class="question mt-10 clickable-hover pl-30 position-relative"
        style="border: 1px dotted #ddd; padding: 4px 4px 4px 30px; border-radius: 3px"
        ng-repeat="question in quizVm.quizQuestions() | filter: quizVm.isQuestionInFilter"
    >
      <a ng-click="quizVm.removeQuestion(question)" class="hover-show" style="display: block; float: left; position: absolute; top: 50%; margin-top: -10px; left: 2px;">
        <i class="material-icons mdi-sm text-red">delete</i>
      </a>

      {{question.name}}
      <div
          ng-repeat="tag in question.tags"
          class="tag-filter capitalize inline-block"
      >
        {{tag.name}}
      </div>

      <a ui-sref="question.edit({quesID: question.uid, returnQuizId: editQuizVm.quizId})"
          class="hover-show"
      >
        Edit
      </a>

      <div
          class="base-font hover-hide"
          style="height: 60px"
      >
        Score: <span class="text-green bold">+ {{question.positive}}</span> |
        <span class="text-red bold">- {{question.negative}}</span>
        &nbsp;&nbsp;
        <i ng-if="question.correct.length == 1" class="material-icons" style="font-size:16px">done</i>
        <i ng-if="question.correct.length > 1" class="material-icons" style="font-size:16px">done_all</i>

        <div>
            <span ng-if="question.answerCount > 0" style="font-weight:bold">
              Avg Score: {{ question.answerTotalScore / question.answerCount / question.positive / question.correct.length * 100 | number:0 }}% -
            </span>
            <span>{{question.answerCount}} Answers ({{question.skipCount}} skips)
        </div>
      </div>

      <div
          class="hover-show"
          style="border: 1px dashed #ddd; height: 60px; margin-top: -60px; overflow: hidden;"
          ng-bind-html="mainVm.markDownFormat(question.text)"
      ></div>
    </div>
  </div>
</div>
