<div style="border: 1px solid #999; height: 230px; overflow: hidden auto; position: relative;">
  <div style="background-color: #fff; left: 2px; right: 2px; top: 0">
    <h5>Select Question to add it to quiz</h5>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="search_question" ng-model="searchQ" />
      <label class="mdl-textfield__label" for="search_question">Search question Name, Tag, body etc</label>
    </div>
  </div>
  <div
      class="question clickable-hover position-relative pl-30"
      ng-repeat="question in quizVm.allQuestions() | filter:searchQ | filter:quizVm.isNotInQuiz"
  >
    <a
        href="#"
        ng-click="quizVm.addQuestion(question)"
        class="hover-link"
        style="position: absolute; display: block; left: 2px; top: 50%; margin-top: -10px;">
      <i class="material-icons text-green" ng-if="!quizVm.isQuestionInQuiz(question)">add</i>
      <i class="material-icons" style="color:#ccc" ng-if="quizVm.isQuestionInQuiz(question)">done</i>
    </a>
    <div class="mdl-grid no-pad">
      <div class="mdl-cell mdl-cell--12-col">
        {{question.name}}
        <div class="base-font">
          Score: + {{question.positive}} &nbsp;|&nbsp;
                 - {{question.negative}}&nbsp;&nbsp;

          <span class="option-icon">
            <span ng-if="question.correct.length == 1">
              <i class="material-icons">done</i>
            </span>
            <span ng-if="question.correct.length > 1">
              <i class="material-icons">done_all</i>
            </span>
          </span>
        </div>
        <span ng-repeat="tag in question['question.tag']">
          <span class="mdl-chip">
            <span class="mdl-chip__text">{{tag.name}}</span>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
