<div ng-controller="allQuestionController as allQVm" class="question-listing" id="question-listing">	
	<div class="" ng-if="mainVm.allQuestions.length">
		<div class="mdl-grid mdl-grid--no-spacing mt-20">
			<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
				<h5>
					List of all questions
				</h5>
			</div>
			<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
				<button class="mdl-button btn-succes bg-green pull-right" ng-click="mainVm.goTo('question.add')">Add New</button>
			</div>
		</div>
		<div class="mdl-grid mdl-grid--no-spacing mb-20">
			<div class="mdl-cell mdl-cell--8-col mv-0 mdl-cell--middle">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				  <input class="mdl-textfield__input" type="text" id="search_question" ng-model="searchQ">
				  <label class="mdl-textfield__label" for="search_question">
				  	Search question name
				  </label>
				  <i class="material-icons">search</i>
				</div>
			</div>
		</div>
		<div class="question slide-wrapper mdl-shadow--2dp" ng-repeat="question in mainVm.allQuestions | filter:searchQ">
			<div class="mdl-grid slide-link question-item">
				<div class="mdl-cell mdl-cell--10-col mdl-cell--middle mdl-cell--5-col-tablet">
					<pre>{{mainVm.unescapeText(question.text)}}</pre>
				</div>
				<div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mv-0 text-right">
					<a href="" class="question-action mr-10">
						<span class="mdl-chip white-chip">
						  <span class="mdl-chip__text">VIEW</span>
						</span>
					</a>
					<a ui-sref="question.edit({quesID: question._uid_})" class="question-action mr-10">
						<span class="mdl-chip white-chip">
						  <span class="mdl-chip__text">EDIT</span>
						</span>
					</a>
				</div>
			</div>
			<div class="mdl-grid slide-content">
				<div class="mdl-cell mdl-cell--12-col pb-20">
					<div class="mdl-grid no-pad">
						<div class="mdl-cell mdl-cell--6-col">
							<div class="mdl-grid no-pad">
								<div class="mdl-cell mdl-cell--3-col">
									<span ng-show="!editQuestion" class="bold">Options</span>
								</div>
								<div class="mdl-cell mdl-cell--9-col">
									<div class="mb-10" ng-repeat="option in question['question.option'] track by $index"  ng-init="is_correct=questionVm.isCorrect(option, question['question.correct'])">
										{{option.name}} &nbsp <span class="text-green" ng-show="is_correct"> - <i class="material-icons text-green mdi-sm">check_circle</i> Correct</span>
									</div>
								</div>
							</div>
						</div>
						<div class="mdl-cell mdl-cell--6-col">
							<div class="mdl-grid no-pad">
								<div class="mdl-cell mdl-cell--4-col">
									<span ng-show="!editQuestion" class="bold"> Positive Mark</span>
								</div>
								<div class="mdl-cell mdl-cell--4-col">
									<span ng-show="!editQuestion">{{question.positive}}</span>
								</div>
							</div>
							<div class="mdl-grid no-pad">
								<div class="mdl-cell mdl-cell--4-col">
									<span ng-show="!editQuestion" class="bold">Negative Mark</span>
								</div>
								<div class="mdl-cell mdl-cell--4-col">
									{{question.negative}}
								</div>
							</div>
							<div class="mdl-grid no-pad" ng-show="question['question.tag']">
								<div class="mdl-cell mdl-cell--4-col">
									<span ng-show="!editQuestion" class="bold">Tags</span>
								</div>
								<div class="mdl-cell mdl-cell--4-col">
									<span ng-repeat="tags in question['question.tag'] track by $index">
										<span class="mdl-chip">
									    <span class="mdl-chip__text">{{tags.name}}</span>
										</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
 		</div> <!--  Ng-repeat End -->

 		<div class="pt-20 text-center text-red" ng-show="allQVm.noItemFound">
			<h5>No more questions available</h5>
 		</div>
	
		<div class="lazy-loader text-center" ng-show="allQVm.showLazyLoader">
 			<div class="mdl-spinner mdl-js-spinner is-active"></div>
 		</div>
	</div>
	<div class="text-center" ng-if="!mainVm.allQuestions.length">
		<h4 class="text-center">
			Could not find any question.
		</h4>
		Go to <a ui-sref="question.add">Add Question</a> page to add some.
	</div>
</div>