<div class="mdl-grid container" ng-controller="questionController as questionVm">
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
      <a href="#starks-panel" class="mdl-tabs__tab is-active">Questions Listing</a>
      <a href="#lannisters-panel" class="mdl-tabs__tab">Add New</a>
    </div>

    <div class="mdl-tabs__panel is-active pt-20" id="starks-panel">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="search_question" ng-model="searchQ">
        <label class="mdl-textfield__label" for="search_question">Search question name</label>
      </div>
      <div class="question" ng-repeat="question in questionVm.allQuestions | filter:searchQ">
        <a href="">
          {{question._uid_}} {{question.text}}
        </a>
      </div>
    </div>
    <div class="mdl-tabs__panel" id="lannisters-panel">
      <div ng-include="'app/components/question/add-question.html'"></div>
    </div>
  </div>
</div>