<div class="mdl-grid container home-grid" ng-controller="homeController as homeVm">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--5-col">
    <!-- Wide card with share menu button -->
    <div class="panel-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title question-cover">
        <h2 class="mdl-card__title-text"></h2>
      </div>
      <div class="mdl-card__supporting-text text-center text-black text-darkBlue">
        QUESTION PANEL
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="mainVm.goTo('question.add')">
          ADD NEW
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="mainVm.goTo('question.all')">
          SHOW ALL
        </button>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--5-col">
    <!-- Wide card with share menu button -->
    <div class="panel-card mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title quiz-cover">
        <h2 class="mdl-card__title-text"></h2>
      </div>
      <div class="mdl-card__supporting-text text-center text-black text-darkBlue">
        QUIZ PANEL
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="mainVm.goTo('quiz.add')">
          ADD NEW
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="mainVm.goTo('quiz.all')">
          SHOW ALL
        </button>
      </div>
    </div>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
