<div class="" ng-if="mainVm.allQuestions" ng-controller="allQuizController as allQuizVm">
	<h5>List of all Quizes</h5>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mb-20">
	  <input class="mdl-textfield__input" type="text" id="search_question" ng-model="searchQ">
	  <label class="mdl-textfield__label" for="search_question">Search quiz name</label>
	</div>
	<div class="quiz" ng-repeat="quiz in quizVm.allQuizes | filter:searchQ">
	  <div class="mdl-grid no-pad">
	    <div class="mdl-cell mdl-cell--8-col mdl-cell--middle">
				{{$index + 1}}. {{quiz.name}}
			</div>
			<div class="mdl-cell mdl-cell--2-col text-right m-0">
				<a ui-sref="invite.dashboard({quizID: quiz._uid_})">
					Candidates						
				</a>
			</div>
			<div class="mdl-cell mdl-cell--2-col text-right">
				<a ui-sref="invite.add" class="">
					Invite
				</a>
			</div>
	  </div>
	</div>
</div>
<div class="text-center" ng-if="!mainVm.allQuestions">
	<h4 class="text-center">
		Could not find any quizes.
	</h4>
	Go to <a ui-sref="quiz.add">Add Question</a> page to some.
</div>