<div class="mdl-grid" ng-controller="editQuizController as editQuizVm">
	<div class="mdl-cell mdl-cell--5-col">
		<h5>Update Quiz</h5>
		<form ng-submit="editQuizVm.editQuiz()">
			<div class="mdl-grid no-pad">
				<div class="mdl-cell mdl-cell--12-col">
				  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{'is-dirty': quizVm.newQuiz.name}">
				    <input class="mdl-textfield__input" type="text" name="text" id="quiz-name" ng-model="quizVm.newQuiz.name">
				    <label class="mdl-textfield__label" for="quiz-name">Quiz name</label>
				  </div>
				</div>
			</div>
			<div class="mdl-grid no-pad">
				<div class="mdl-cell mdl-cell--12-col">
				  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{'is-dirty': quizVm.newQuiz.duration}">
				    <input class="mdl-textfield__input" type="text" name="text" id="quiz-duration" ng-model="quizVm.newQuiz.duration">
				    <label class="mdl-textfield__label" for="quiz-duration">Duration</label>
				  </div>
				</div>
			</div>
			<div class="mdl-grid no-pad">
				<div class="mdl-cell mdl-cell--6-col">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{'is-dirty': quizVm.newQuiz.start_date}">
				    <input class="mdl-textfield__input" type="text" name="start_date" id="start-date" ng-model="quizVm.newQuiz.start_date" step="0.1">
				    <label class="mdl-textfield__label" for="start-date">Start Date</label>
				  </div>
				</div>
				<div class="mdl-cell mdl-cell--6-col">
				  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{'is-dirty': quizVm.newQuiz.end_date}">
				    <input class="mdl-textfield__input" type="text" name="end_date" id="end-date" ng-model="quizVm.newQuiz.end_date">
				    <label class="mdl-textfield__label" for="end-date">End Date</label>
				  </div>
				</div>
			</div>

			<div class="mt-20" ng-if="quizVm.newQuiz['quiz.question']">
				<label class="bold">Added Questions</label>
				<div ng-repeat="(key, question) in quizVm.newQuiz['quiz.question']" ng-if="question.text">
					<span class="mdl-chip mdl-chip--deletable" ng-if="!question.is_delete">
				    <span class="mdl-chip__text">{{mainVm.unescapeText(question.text)}}</span>
				    <button type="button" class="mdl-chip__action" ng-click="editQuizVm.onQuestionRemove(question)">
				    	<i class="material-icons">cancel</i>
				    </button>
					</span>
				</div>
			</div>

			<div class="mt-20">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect action-btn" type="submit">
				  Update Quiz
				</button>
			</div>
		</form>
	</div>

	<div class="mdl-cell mdl-cell--6-col  mdl-cell--1-offset">
		<div ng-include="'app/components/quiz/question-selection.html'"></div>
	</div>
</div>