<div class="main-content" ng-controller="quizController as quizVm">	
	<div class="" ng-if="!quizVm.demoEnded">
		<div class="mdl-grid standard-size">
			<div class="mdl-cell mdl-cell--8-col">
				<h5>Quiz Demo</h5>
			</div>
			<div class="mdl-cell mdl-cell--4-col mdl-cell--middle">
				Time Remaining: <span id="time"></span>
			</div>
		</div>

		<div class="mdl-grid standard-size">
			<div class="mdl-cell mdl-cell--8-col">
				<div class="question">
					{{quizVm.question.str}} <span ng-if="quizVm.question.isMultiple">(Multiple Choice)</span>
				</div>

				<div class="options">
					<div ng-repeat="option in quizVm.question.options" ng-if="!quizVm.question.isMultiple">
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{option.id}}">
						  <input type="radio" id="{{option.id}}" class="mdl-radio__button" name="answer" value="{{option.id}}" ng-model="quizVm.answer">
						  <span class="mdl-radio__label">{{option.str}}</span>
						</label>
					</div>
					<div ng-repeat="option in quizVm.question.options" ng-if="quizVm.question.isMultiple">
						<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{option.id}}">
						  <input type="checkbox" name="answer" id="{{option.id}}" class="mdl-checkbox__input" ng-model="quizVm.answer[option.id]">
						  <span class="mdl-checkbox__label">{{option.str}}</span>
						</label>
					</div>
				</div>

				<div class="submission">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-danger" ng-click="quizVm.submitAnswer()">
					  Submit
					</button>
				</div>
			</div>

			<div class="mdl-cell mdl-cell--4-col">
				<div class="alert alert-info">
					Question Stats
				</div>

				<div class="pl-10">
					<div class="mdl-grid pad-0">
						<div class="mdl-cell mdl-cell--6-col mdl-cell--middle">
							<label class="text-green">Positive </label> 
						</div>
						<div class="mdl-cell mdl-cell--6-col">
							<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab bg-green">
							  +{{quizVm.question.positive}}
							</button>
						</div>
					</div>
					<div class="mdl-grid pad-0">
						<div class="mdl-cell mdl-cell--6-col mdl-cell--middle">
							<label class="text-orange">Negative </label>
						</div>
						<div class="mdl-cell mdl-cell--6-col">
							<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab bg-red">
							  -{{quizVm.question.negative}}
							</button>
						</div>
					</div>
					<div class="mdl-grid pad-0">
						<div class="mdl-cell mdl-cell--6-col mdl-cell--middle">
							<label>CURRENT SCORE </label>
						</div>
						<div class="mdl-cell mdl-cell--6-col">
							<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab  mdl-button--colored">
							  {{quizVm.question.score}}
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="text-center" ng-if="quizVm.demoEnded">
		
		<div class="text-green mt-30">
			<i class="material-icons mdi-lg">check_circle</i>
		</div>

		<h5> Hi {{quizVm.userId}}, your demo test for GRU ends here! <br><br>
			Your Final Score is - {{quizVm.question.score}}
		</h5>
		<div class="text-red">
			<a ui-sref="root">
				Go back to <i class="material-icons vbottom">home</i>
			</a>
		</div>
	</div>
</div>

