<div ng-controller="allQuestionController as allQVm" class="question-listing" id="question-listing">
  <div class="" ng-if="mainVm.allQuestions.length">
    <div class="mdl-grid mdl-grid--no-spacing b-border">
      <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet pl-5">
        <h5>
					List of all questions
				</h5>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
        <button class="mdl-button btn-succes bg-green pull-right mt-10" ng-click="mainVm.goTo('question.add')">Add New</button>
      </div>
    </div>
    <div class="mdl-tabs vertical-mdl-tabs mdl-js-tabs mdl-js-ripple-effect mt-10">
      <div class="mdl-grid mdl-grid--no-spacing qn-index">
        <div class="mdl-cell mdl-cell--2-col r-border qn-nav">
          <div class="mdl-tabs__tab-bar">
            <!-- <a href="#" class=" pv-5" ng-repeat="question in mainVm.allQuestions" ng-class="{'is-active': $index == 0}" ng-click="allQVm.setQuestion(question, $index)">
							{{question.name}}
	          </a> -->
            <div class="side-tabs pv-5" ng-repeat="question in mainVm.allQuestions" ng-class="{'is-active': allQVm.question == question}" ng-click="allQVm.getQuestion(question._uid_)">
              {{question.name}}
            </div>
            <div class="pt-20 text-center text-red no-item" ng-show="allQVm.noItemFound">
              <div>No more questions available</div>
            </div>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--10-col pl-30 qn-desc">
          <div class="mdl-tabs__panel is-active" id="tab{{allQVm.questionIndex}}-panel">
            <div class="mdl-grid no-pad">
              <div class="mdl-cell mdl-cell--2-col mdl-cell--middle">
                <span class="bold">NAME</span>
              </div>
              <div class="mdl-cell mdl-cell--10-col">
                {{allQVm.question.name}}
              </div>
            </div>
            <div class="mdl-grid no-pad">
              <div class="mdl-cell mdl-cell--2-col mdl-cell--middle">
                <span class="bold">SCORING</span>
              </div>
              <div class="mdl-cell mdl-cell--10-col">
                <span class="mdl-chip mdl-chip--contact">
							    <span class="mdl-chip__contact bg-green mdl-color-text--white">
							    	Positive Score
							    </span>
                <span class="mdl-chip__text bold text-center"> {{allQVm.question.positive}}</span>
                </span>
                <span class="mdl-chip mdl-chip--contact">
							    <span class="mdl-chip__contact bg-red mdl-color-text--white">
							    	Negative Score
							    </span>
                <span class="mdl-chip__text bold text-center"> {{allQVm.question.negative}}</span>
                </span>
              </div>
            </div>
            <div class="mdl-grid no-pad" ng-show="allQVm.question['question.tag']">
              <div class="mdl-cell mdl-cell--2-col mdl-cell--middle">
                <span ng-show="!editQuestion" class="bold">TAGS</span>
              </div>
              <div class="mdl-cell mdl-cell--10-col">
                <span ng-repeat="tags in allQVm.question['question.tag'] track by $index">
									<span class="mdl-chip">
								    <span class="mdl-chip__text">{{tags.name}}</span>
                </span>
                </span>
              </div>
            </div>
            <div class="mt-10 pl-10">
              <strong>QUESTION CONTENT</strong>
              <pre class="ph-20 pv-5 full-border code-block" ng-bind-html="questionVm.markDownFormat(mainVm.unescapeText(allQVm.question.text))"></pre>
            </div>
            <div class="mdl-grid no-pad mt-5" ng-repeat="option in allQVm.question['question.option'] track by $index">
              <div class="mdl-cell mdl-cell--2-col mdl-cell--middle">
                <span class="bold" ng-class="{'text-green': questionVm.isCorrect(option, allQVm.question['question.correct'])}">
									OPTIONS {{$index + 1}}
									<i class="material-icons mdi-sm" ng-show="questionVm.isCorrect(option, allQVm.question['question.correct'])">check_circle</i>
								</span>
              </div>
              <div class="mdl-cell mdl-cell--10-col full-border option">
                <div class="ph-10 position-relative">
                  <pre ng-bind-html="questionVm.markDownFormat(mainVm.unescapeText(option.name))" class="code-block"></pre>
                </div>
              </div>
            </div>
            <div class="mdl-grid no-pad" ng-if="allQVm.question.notes">
              <div class="mdl-cell mdl-cell--2-col mdl-cell--middle">
                <span class="bold">NOTE</span>
              </div>
              <div class="mdl-cell mdl-cell--10-col">
                {{allQVm.question.notes}}
              </div>
            </div>
            <div class="mdl-grid no-pad" ng-show="allQVm.question['question.tag']">
              <div class="mdl-cell mdl-cell--12-col">
                <a ui-sref="question.edit({quesID: allQVm.question._uid_})" class="mdl-button question-action mr-10">
									EDIT
								</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lazy-loader text-center" ng-show="allQVm.showLazyLoader">
    <div class="mdl-spinner mdl-js-spinner is-active"></div>
  </div>
  <div class="text-center" ng-if="!mainVm.allQuestions.length">
    <h4 class="text-center">
			Could not find any question.
		</h4> Go to <a ui-sref="question.add">Add Question</a> page to add some.
  </div>
</div>
