<div class="mdl-grid" ng-controller="addCandidatesController as acVm">
	<div class="mdl-cell mdl-cell--5-col">
		<h4>Invite candidate for the quiz</h4>
		<form ng-submit="inviteVm.inviteCandidate()">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		    <input class="mdl-textfield__input" type="text" id="name" ng-model="inviteVm.newInvite.name">
		    <label class="mdl-textfield__label" for="name">Enter Name</label>
		  </div>

		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mt-20">
		    <input class="mdl-textfield__input" type="email" id="email" ng-model="inviteVm.newInvite.email">
		    <label class="mdl-textfield__label" for="email">Enter Email</label>
		    <span class="mdl-textfield__error">Should be valid email</span>
		  </div>

		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mt-20">
		    <input class="mdl-textfield__input" type="date" id="datePicker" ng-model="inviteVm.newInvite.dates">
		    <label class="mdl-textfield__label" for="datePicker">Enter validity</label>
		    <span class="mdl-textfield__error">Should be valid date</span>
		  </div>
				
			<div class="mt-20" ng-if="inviteVm.newInvite.quiz">
				<label class="bold">Selected Quiz</label>
				<div class="mt-5">
					<span class="mdl-chip mdl-chip--deletable">
				    <span class="mdl-chip__text">{{inviteVm.newInvite.quiz.name}}</span>
				    <button type="button" class="mdl-chip__action" ng-click="inviteVm.removeSelectedQuiz(key)">
				    	<i class="material-icons">cancel</i>
				    </button>
					</span>
				</div>
			</div>
			
			<div class="mt-20">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect action-btn" ng-disabled="!inviteVm.newInvite.quiz">
				  Send Invite
				</button>
				<span ng-if="!inviteVm.newInvite.quiz">
					Select the quiz to proceed
				</span>
			</div>
		</form>
	</div>

	<div class="mdl-cell mdl-cell--6-col  mdl-cell--1-offset">
		<div ng-include="'app/components/invite/views/quiz-selection.html'"></div>
	</div>
</div>